In [3]:
import pandas as pd
import numpy as np

# Liste de genres de films
genres = ["Action", "Comedy", "Drama", "Sci-Fi", "Horror", "Romance", "Animation", "Adventure", "Thriller", "Documentary"]

# Génération des données
np.random.seed(42)  # Pour la reproductibilité
data = {
    "movie_id": range(1, 501),  # ID de 1 à 500
    "title": [f"Movie {i}" for i in range(1, 501)],  # Titres : Movie 1, Movie 2, ..., Movie 500
    "genre": np.random.choice(genres, 500)  # Genres aléatoires
}

# Création d'un DataFrame
df = pd.DataFrame(data)

# Sauvegarde dans un fichier CSV
df.to_csv("C:\\Users\\Dioum7794\\OneDrive - Orange Sonatel\\Documents\\travaux EIS\\COURS\\COURS MASTER\\2ième ANNEE\\TEST LOGICIEL\\Projet_Final\\data\\movies.csv", index=False)


# Affichage des 5 premières lignes
df.head()

   movie_id    title      genre
0         1  Movie 1  Animation
1         2  Movie 2     Sci-Fi
2         3  Movie 3  Adventure
3         4  Movie 4     Horror
4         5  Movie 5  Animation